/* Projects.css */
.projects-section {
  margin-top: 4rem;
  padding: 20px;
  background-color: #ffffff;
}

.projects-content {
  text-align: center;
}

.projects-content h2 {
  font-size: 35px;

  font-weight: 600;
}

.projects-content p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 32px;
  font-weight: 500;
}

.project-image {
  /* display: block; */
  width: 80vw;
  max-width: 100%;

  border-radius: 0%;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.project-landscape {
  height: 24vh;
  /* width: 34vw; */
  /* padding: 0 0.1rem; */
}

.installation {
  margin: 2rem;
  align-items: center;
  text-align: center;
}
.install-content h1 {
  padding: 2rem;
  font-size: 35px;
  font-weight: 600;
}

.install-content p {
  line-height: 1.5;
  font-size: 22px;
}

.neighbourhood h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 3rem;

  line-height: 1.7rem;
  font-weight: 300;
}

.installation {
  margin: 2rem;
  align-items: center;
  text-align: center;
}
.install-content h1 {
  padding: 1rem;
  font-size: 35px;
  font-weight: 600;
}

.install-content p {
  line-height: 1.7;
  font-size: 22px;
  font-weight: 500;
}

.installation-vid {
  width: 90vw;
  margin: 2rem 0;
  margin-left: -0.8rem;
}

@media (min-width: 768px) {
  .projects-content h2 {
    font-size: 3rem;
    margin-top: 40px;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }

  .projects-content p {
    font-size: 2rem;
    width: 70vw;
    margin: 3rem;
    margin-left: 8rem;
    align-self: center;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 300;
  }
  .projects-content .swiper {
    transform: scale(1);
  }

  .install-content h1 {
    font-size: 3rem;
  }

  /* .project-image {
    width: 50vw;
    height: 50vh;
  } */
}

@media (min-width: 1024px) {
  .projects-content p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    margin-left: 13rem;
  }

  /* .projects-content .swiper {
    transform: scale(0.75);
  } */

  .project-image {
    /* display: block; */
    width: 50vw;
    max-width: 100%;
    border-radius: 0%;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .installation-vid {
    width: 50vw;
  }

  .install-content p {
    padding: 0 20rem;
  }
}
