/* Projects.css */
.projects-section {
  margin-top: 4rem;
  padding: 20px;
  background-color: #ffffff;
}

.projects-content {
  text-align: center;
}

.projects-content h2 {
  font-size: 35px;

  font-weight: 600;
}

.projects-content p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 32px;
  font-weight: 500;
}

.project-image {
  /* display: block; */
  width: 80vw;
  max-width: 100%;

  border-radius: 0%;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.project-landscape {
  height: 24vh;
  /* width: 34vw; */
  /* padding: 0 0.1rem; */
}

@media (min-width: 768px) {
  .projects-content h2 {
    font-size: 5rem;
    font-weight: 500;
  }

  .projects-content p {
    font-size: 2rem;
    width: 60vw;
    margin: 3rem;
    margin-left: 10rem;
    align-self: center;
    text-align: center;
    line-height: 3rem;
  }
  .projects-content .swiper {
    transform: scale(1);
  }

  /* .project-image {
    width: 50vw;
    height: 50vh;
  } */
}

@media (min-width: 1024px) {
  .projects-content h2 {
    font-size: 5rem;
    font-weight: 500;
  }

  .projects-content p {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
    width: 70vw;
  }

  .projects-content .swiper {
    transform: scale(0.75);
  }
/* 
  .project-image {
    width: 93vw;
    height: 90vh;
  } */
}
