.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  /* background-image: url('/images/gl-hero'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.home h1 {
  font-size: 35px;
  /* margin-bottom: 1rem; */
  text-align: right;
}

.home p {
  font-size: 32px;
  text-align: right;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.desktop-para {
  display: none;
}
.desktop-homepage{
  display: none;
}


.home-content {
  text-align: center;
  width: 100vw;
  padding: 10px;
}

.content {
  color: white;
  position: absolute;
  top: 0;
  width: 90%;
  height: 84%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.video {
  width: 100vw;
  height: 85vh;
  /* object-fit: contain; */
  object-fit: cover;
  margin-top: -0.6rem;
  filter: brightness(75%);
}

.homepage-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  font-size: 22px;
  align-items: center;
  text-align: center;
}

.homepage-content h1{
  font-weight: 500;
  padding-bottom: 0px;
  margin-bottom: -20px;
}

.homepage-content p{
  font-weight: 400;
  padding: 10px;
}


.item-container {
  display: flex;
  margin-bottom: 20px;
  padding: 30px;
  align-items: center;
}

.image-container {
  flex: 0 0 50%;
  margin-right: 45px;
  margin-left: -38px;
}

.image-container img {
  width: 160%;
  height: auto;
   max-width: 200px;/* Limit the maximum width of the image */
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h3 {
  margin-bottom: -10px;
  font-size: 28px; 
}
.text-container p {
  font-size: 20px; /* Adjust as needed */
}

.text-container h3 a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

.text-container h3 a:hover {
  text-decoration: none;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) and (max-width: 1023px)  {
  .home h1 {
    font-size: 7.5rem;
    width: 85vw;
    line-height: 7rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  .home p {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
  
  }
  .video {
    width: 100vw;
    height: 100vh;
    /* object-fit: contain; */
    object-fit: cover;
    margin-top: -0.6rem;
    filter: brightness(75%);
  }

  .content {
    position: absolute;
    top: 0;
    width: 85%;
    height: 96%;
    padding-left: 2rem;
    display: flex;
  }

  .homepage-content {
    font-size: 24px;
  }

  .item-container {
    padding: 40px;
  }

  .image-container {
    margin-right: 60px;
    margin-left: -20px;
  }

  .image-container img {
    max-width: 250px;
  }

  .text-container h3 {
    font-size: 32px;
  }

  .text-container p {
    font-size: 22px;
  }
 
}

/* Large tablets and small desktops */
@media (min-width: 992px) {
  .home h1 {
    font-size: 7.8rem;
  }

  .content {
    width: 90%;
    padding-left: 5rem;
  }

  .homepage-content {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .home h1 {
    font-size: 8rem;
    text-align: center;
    line-height: 8rem;
    margin-bottom: 3rem;
  }

  .home p {
    font-size: 3rem;
    line-height: 2.3rem;
    text-align: center;
  }

  .mobile-para {
    display: none;
  }

  .desktop-para {
    display: block;
    text-align: right;
    display: flex;
    align-self: right;
  }

  .content {
    position: absolute;
    top: 0;
    width: 85%;
    height: 90%;
    padding-left: 7rem;

  }

  /* .homepage-content {
    font-size: 28px;
  } */

  .homepage-content {
    display: none;
  }

  .desktop-homepage {
    display: block;
  }

  .deskpage-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: center;
  }

  .deskpage-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .deskpage-content > p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .image-container img {
    border: 2px solid red;
  }
  .desk-containers {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .desk-container {
    width: 30%;
  }

  .desk-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .desk-container h3 a {
    color: inherit;
    text-decoration: underline;
  }

  .desk-container h3 a:hover {
    text-decoration: none;
  }

  .desk-container .image-container {
    margin: 1rem 0;
  }

  .desk-container .image-container img {
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .desk-container p {
    font-size: 1.25rem;
    line-height: 1.5;
  }

}

