/* Advantage.css */
#garden-loft-advantage {

}

.swiper-pagination {
  position: relative;
  bottom: 10px;
}

.swiper-pagination-bullet {
  background: #000 !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  border: 2px solid #000 !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 4px !important;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.advantage-image {
  max-width: 100%;
  width: 100vw;
  object-fit: cover;
  height: auto;
  display: block;
  margin: 0 auto;
}

.advantage-slide {
  position: relative;
  text-align: center;
}

.advantage-image {
  width: 100vw;
  height: 50vh;
  margin: 0 auto;
  border-radius: 1px;
  object-fit: cover;
}

.advantage-title {
  width: 75vw;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.advantage-text {
  text-align: center;
  margin-top: 10px;
  
  padding: 0 10%;
}

.advantage-text h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.advantage-text p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  width: 65vw;
  line-height: 35px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .advantage-content h2 {
    font-size: 2.5rem;
  }

  .advantage-content p {
    font-size: 1.5rem;
  }

  .advantage-image {
    width: 50vw;
    height: 50vh;
  }

  .advantage-title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .projects-content h2 {
    font-size: 3rem;
  }

  .projects-content p {
    font-size: 1.8rem;
  }

  .advantage-image {
    width: 33vw;
    height: 50vh;
  }

  .advantage-title {
    font-size: 2.5rem;
  }
}
