/* Carousel.css */
/* 
#four-step-process {
  background-color: #ffbf00;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 110vw;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.swiper-pagination {
  position: relative;
  bottom: 10px;
}

.swiper-pagination-bullet {
  background: #000 !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  border: 2px solid #000 !important;
  width: 14px;
  height: 14px;
  opacity: 1;
  margin: 0 4px !important;
}

.swiper-container {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  width: 60vw;
  height: auto;
  display: block;
  margin: 0 auto;
 
}  */

/* Process.css */
/* Process.css */

.process-section {
  padding: 2rem 3rem;
  text-align: center;
}

.process-section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 600px;
  width: 100%;
}

.step-number {
  float: inline-start;
  font-size: 6rem;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
  flex-shrink: 0;
  line-height: 0.5;
  padding: 10px;
}

.step-content {
  display: flex;
  float: inherit;
  flex-direction: column;
}

.step-content h3 {
  float: inline-start;
  font-size: 1.5rem;
  margin: 0 0 3px 0;
 


  /* margin: 0 0 0 0; */
}

.step-content p {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}


.process {
  padding: 5px;
}


.button-process {
  background-color: rgb(199, 240, 255);
  border: 1px ;
  width: 250px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .process-section h1 {
    font-size: 2.5rem;
  }

  .steps {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .step {
    flex: 1 1 45%;
    margin: 1rem;
  }

  .step-number {
    font-size: 3.5rem;
    float: left;
  }

  .step-content h3 {
    font-size: 1.5rem;
  }

  .step-content p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .process-section h1 {
    font-size: 3rem;
  }

  .step-number {
    font-size: 4rem;
  }

  .step-content h3 {
    font-size: 1.75rem;
  }

  .step-content p {
    font-size: 1.25rem;
  }
}
