#village {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: -50px;
  color: black;
}

.sky-background {
  height: 20vh;
  background-color: rgb(225, 235, 235);
}

.workers-list h3 {
  text-align: left;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.village-list {
  text-align: left;
  padding-left: 2rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}



.village-list h4 {
  font-weight: 500;
}

.village-content h3 {
  padding: 0 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 1rem;
}
.village-content h1 {
 font-weight: 400;
  padding: 0 2rem;
  margin-top: 1rem;
  line-height: 40px;
  color: black;
}

#village h1 {
  font-size: 2rem;
  margin-bottom: 2rem;

  padding: 0 2rem;
}

#village p {
  font-size: 1.5rem;
 font-weight: 800;
}


#village img {
  width: 100vw;
  /* height: 70vh; */
  object-fit:contain;
  /* padding-bottom: 2rem; */
  padding-top: 2rem;;
}

.hero-village {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  height: 100vh;
  /* background-image: url('/images/gl-hero'); */
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.hero-content {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.content-village {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  width: 90%;
  height: 83%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: flex-end;
}

.hero-video {
  width: 100vw;
  /* height: 70vh; */
  object-fit:contain;
}

.hero-village h1 {
  font-size: 2rem;
  /* margin-bottom: 9rem; */
  text-align: left;
  line-height: 3rem;
  
}

.hero-village p {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: -1rem;
  line-height: 1.5rem;

}


.button-village-cost {
  background-color: rgb(199, 240, 255);
  border: 1px;
  width: 250px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  padding: 10px;
  font-weight: 500;
}

.call-us {
  height: 100px;
}

.village-content .caption p{
  font-size: 5rem;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  #village h1 {
    font-size: 3rem;
  }

  #village p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  #village h1 {
    font-size: 4rem;
  }

  #village p {
    /* font-size: 1.5rem; */
  }
}