#village {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
  /* margin-top: -50px; */
  color: black;
}

.sky-background {
  height: 15vh;
  background-color: rgb(216, 235, 241);
}

.workers-list h3 {
  text-align: left;
  margin-left: 3rem;
  font-size: 22px;
  font-weight: 500;
}

.village-list {
  text-align: left;
  padding-left: 4rem;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.village-list h4 {
  font-weight: 500;
}

.village-content h3 {
  padding: 1.2rem;
  font-size: 22px;
  font-weight: 500;
  line-height: 2rem;
  /* margin-top: 1rem; */
}
.village-content h1 {
  font-weight: 400;
  padding: 0 2rem;
  margin-top: 1rem;
  line-height: 40px;
  color: black;
}

#village h1 {
  font-size: 35px;
  margin-bottom: 2rem;

  padding: 0 2rem;
}

#village p {
  font-size: 22px;
}

#village img {
  width: 100vw;
  /* height: 70vh; */
  object-fit: contain;
  /* padding-bottom: 2rem; */
  padding-top: 2rem;
}

.hero-village {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  height: 80vh;
  /* background-image: url('/images/gl-hero'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  width: 100vw;
  overflow-x: hidden;
}

.hero-content {
  text-align: center;
  color: black;
  width: 100vw;
  height: 80vh;
  padding: 10px;
}

.content-village {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  width: 90%;
  height: 79vh;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.hero-video {
  width: 100vw;
  /* height: 70vh; */
  object-fit: contain;
}

.hero-village h1 {
  font-size: 35px;
  color: black;
  /* margin-bottom: 9rem; */
  text-align: left;
  line-height: 3rem;
}

.hero-village p {
  font-size: 22px;
  color: black;

  text-align: right;
  /* margin-bottom: 2rem; */
  line-height: 1.5rem;
}

.button-village-cost {
  background-color: rgb(199, 240, 255);
  border: 1px;
  padding: 30px 60px;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  font-weight: 500;
}

.call-us {
  height: 100px;
}
.village-content h2 {
  padding: 0 1.2rem;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
  margin-top: 1rem;
}
.village-content .caption p {
  font-size: 35px;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  #village h1 {
    font-size: 3rem;
  }

  #village p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  #village h1 {
    font-size: 4rem;
  }

  #village p {
    /* font-size: 1.5rem; */
  }
}
