.learn-more-hero {
  width: 100%;
  height: auto;
  text-align: right;
  margin-bottom: 10rem;
  font-size: 24px;
}

.hero-image {
  width: 100%;
  height: 50vh;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 90vh;
  filter: brightness(75%);
  object-fit: cover;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.hero-text {
  position: absolute;
  top: 180px; /* Adjust this value to move the text higher above the image */
  left: 0;
  width: 95%;
  line-height: 2rem;
  text-align: right;
}

.hero-text h1 {
  font-size: 35px;
  margin-top: 270px; /* Add some space between h1 and p */
  color: white;
}

.hero-text p {
  font-size: 32px;
  align-items: flex-end;
  color: white;
  text-align: right;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.learn-more-section {
  text-align: center;
  padding: 20px;
  padding-top: 208px;
}

.learn-more-section p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* .quote {
  margin-bottom: 2rem;
} */

#quote-sign {
  text-align: right;
  margin-bottom: 2rem;
}

.quote-desktop {
  display: none;
}

.section-title p {
  font-size: 22px;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 200;
  line-height: 35px;
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-description {
  font-size: 22px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}

.safety-features {
  font-size: 35px;
}

.support-feature-box {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  width: 90%;
  height: 685px;
  font-weight: 400;
  margin: 0 auto;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}

.support-feature-box h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.support-feature-box ul {
  list-style-type: none;
  padding: 0;
}

.support-feature-box ul li {
  margin-bottom: 30px;
  font-size: 22px;
}
.award-sectionL {
  margin-bottom: 4rem;
}
.award-sectionL h1 {
  font-size: 35px;
}

.compare-costsL {
  margin-bottom: 4rem;
}
.compare-costsL h1 {
  font-size: 35px;
}
.financeL {
  margin-bottom: 4rem;
}
.financeL h1 {
  font-size: 35px;
}

.resellingL {
  margin-bottom: 4rem;
}

.resellingL h1 {
  font-size: 35px;
}

.zoningL {
  margin-bottom: 4rem;
}
.zoningL h1 {
  font-size: 35px;
}

.award-image,
.financing-image,
.reselling-image,
.zoning-image {
  width: 100%;
  /* max-width: 600px; */
  height: auto;
  margin: 20px auto;
}

.video-embed {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 20px auto;
}

.report-buttonbutton {
  border: 1px; /* Yellow outline */
  background-color: rgb(199, 240, 255);
  padding: 10px 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  color: #000;
  margin-bottom: 3rem;
}

.swiper-button-prev1,
.swiper-button-next1 {
  display: none;
}
.sec1 {
  display: none;
}

@media (min-width: 768px) {
  .hero-text {
    /* font-size: 7rem; */
    width: 50%;
    position: absolute;
    bottom: -106%;
    left: 77%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 27px;
    text-align: center;
    max-width: 400px;
    margin-top: 14rem;
  }

  .hero-text h1 {
    font-size: 7.5rem;

    line-height: 7rem;
    margin-bottom: 3rem;
    text-align: left;
    margin-left: -22rem;
  }

  .hero-text p {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
    margin-left: -2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .section-description {
    font-size: 1.5rem;
  }

  .safety-features {
    margin-bottom: 1rem;
  }

  .support-feature-box {
    width: 90%;
    text-align: center;
  }

  .support-feature-box h3 {
    font-size: 1.8rem;
  }

  .support-feature-box ul li {
    font-size: 1.2rem;
  }

  .swiper {
    /* transform: scale(0.7); */
    overflow: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }

  .swiper-button-prev1,
  .swiper-button-next1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  .swiper-button-prev1 {
    left: 40px;
    top: 450px;
  }

  .swiper-button-next1 {
    right: 40px;
    top: 450px;
  }
  .swiper-button-prev {
    left: 40px;
  }

  .swiper-button-next {
    right: 40px;
  }

  #quote-sign {
    margin-right: 10rem;
  }

  .award-image {
    width: 100vw;
    /* max-width: 600px; */
    /* height: 130vh; */
    margin: 20px auto;
  }

  .elizabeth-image {
    max-width: 300px;
    height: auto;
    margin: 20px auto;
  }

  .video-embed {
    width: 100%;
    max-width: 900px;
    height: 70vh;
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  .hero-image img {
    height: 100vh;
  }
  .hero-text {
    font-size: 26px;
    width: 500px;
    position: absolute;
    bottom: -106%;

    transform: translate(-50%, -50%);
    color: white;

    text-align: center;
    max-width: 600px;
    line-height: 1.9;
  }

  .hero-text h1 {
    font-size: 8rem;
    text-align: center;
    line-height: 8rem;
    margin-top: 6rem;
    margin-left: -56rem;
  }

  .hero-text p {
    font-size: 3rem;
    line-height: 2.3rem;
    text-align: center;
    margin-left: -20rem;
    padding-top: 2rem;
  }
  .section-title {
    font-size: 3rem;
  }

  .section-description {
    font-size: 1.8rem;
  }

  .safety-features {
    margin-bottom: 1.5rem;
  }

  .support-feature-box {
    width: 90%;
    text-align: center;
  }

  .support-feature-box h3 {
    font-size: 2rem;
  }

  .support-feature-box ul li {
    font-size: 1.5rem;
  }

  #quote-sign {
    margin-right: 20rem;
  }

  .quote-mobile {
    display: none;
  }
  .quote-desktop {
    display: block;
    padding: 0 35rem;
  }

  .elizabeth-image {
    max-width: 400px;
    height: auto;
    margin: 20px auto;
  }
  .award-image,
  .financing-image,
  .reselling-image,
  .zoning-image {
    width: 50vw;
    /* max-width: 600px; */
    /* height: 130vh; */
    margin: 20px auto;
  }
  .video-embed {
    width: 100%;
    max-width: 900px;
    height: 60vh;
    margin: 20px auto;
  }
  .sec1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    gap: 8rem;
  }

  .sec1 .sec1-words {
    margin-top: 6rem;
    padding: 2rem;
  }

  .sec2 {
    display: none;
  }
}
