.learn-more-hero {
  width: 100%;
  height: auto;
  text-align: right;
  margin-bottom: 22rem;
  font-size: 24px;
}

.hero-image {
  width: 100%;
  height: 50vh;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 90vh;
  filter: brightness(75%);
  object-fit: cover;
  margin-bottom: 20px;
}

.hero-text {
  position: absolute;
  bottom: -35vh;
  right: -40%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
}

.learn-more-section {
  text-align: center;
  padding: 20px;
}

.learn-more-section p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-title {
  font-size: 35px;
  padding: 0 1.5rem;
  line-height: 35px;
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-description {
  font-size: 22px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}

.support-feature-box {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  width: 90%;
  height: 620px;
  font-weight: 400;
  margin: 0 auto;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}

.support-feature-box h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.support-feature-box ul {
  list-style-type: none;
  padding: 0;
}

.support-feature-box ul li {
  margin-bottom: 30px;
  font-size: 22px;
}

.award-image,
.financing-image,
.reselling-image,
.zoning-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
}

.video-embed {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .section-description {
    font-size: 1.5rem;
  }

  .support-feature-box {
    width: 60%;
  }

  .support-feature-box h3 {
    font-size: 1.8rem;
  }

  .support-feature-box ul li {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 2.5rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-description {
    font-size: 1.8rem;
  }

  .support-feature-box {
    width: 50%;
  }

  .support-feature-box h3 {
    font-size: 2rem;
  }

  .support-feature-box ul li {
    font-size: 1.5rem;
  }
}
