/* Award.css */

.award-section {
  position: relative;
  width: 90vw;
  text-align: center;
  align-items: center;
  margin: 1.3rem;
}

.award-content {
  color: white;
  padding-top: 5px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  margin-bottom: 5px;
  
}

.award-content h1 {
  color: #000;
  font-size: 30px;
  padding: 0 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.learn-more-btn {
  background-color: transparent;
  border: 2px solid transparent;
  color: transparent;
  padding: 0.5rem 1rem;
  font-size: 22px;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.award-button {
  border: 1px; /* Yellow outline */
  background-color: rgb(199, 240, 255);
  padding: 30px 70px;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .award-content h1 {
    font-size: 2rem;
  }

  .learn-more-btn {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .award-content h1 {
    font-size: 2.5rem;
  }

  .learn-more-btn {
    font-size: 1.5rem;
  }
}
