/* Initial.css */
.navbarBackground {
  background-color: rgba(0, 0, 0, 0.308);
  height: 20vh !important;
}

.initial-meeting {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.initial-meeting h2 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: -40px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.button-meet {
  background-color: #C7F0FF;
  color: black;
  font-size: 22px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.button-meet:hover {
  background-color: #0056b3;
  color: white;
}

.calendly-widget {
  margin-top: 1rem;
  justify-content: center;
  align-items: center !important;
  text-align: center;
  width: 140%;
  max-width: 1200px;
  height: 700px !important;
}

.contact-info {
  margin-top: 2rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-info a {
  color: #007bff;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbarBackground {
    height: 25vh !important;
  }



  .initial-meeting h2 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 30px !important;
  }



  .calendly-widget {
    height: 680px !important;
    max-width: 1000px;
    width: 120%;
  }

  .contact-info {
    text-align: center;
  }
}

@media (max-width: 768px) {


  .initial-meeting h2 {
    font-size: 1.5rem;
  }

 
  .calendly-widget {
    height: 680px !important;
    max-width: 800px;
    width: 120%;
  }
}

@media (max-width: 480px) {

  .initial-meeting h2 {
    font-size: 1.25rem;
  }



  .calendly-widget {
    height: 700px !important;
    max-width: 1000px;
    width: 135%;
  }
}
