/* About.css


.hero-about {
  text-align: center;
  margin-bottom: 30px;
}

.hero-about-img {
  position: relative;
}

.hero-about-img img {
  width: 100vw;
  object-fit: cover;
  height: 90vh;
  filter: brightness(75%);
}

.hero-about-content h1 {
  position: absolute;
  bottom:25%;
  left:55%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
  width: 400px;
  line-height: 1.9;
}

.about-content p {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  padding: 0 10px;
 
 
}

.teams {
  margin-top: 50px ;
  object-fit: contain;

}

.teams h1 {
  margin-bottom: 30px;
}

.team-content {
  display: inline-block;
  width: 90%;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.team-content img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.team-content h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.team-content p {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 1rem;

}

.btn-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-about {
  background-color: rgb(199, 240, 255);
  border: 1px;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  color: #000;
}

.teams,
.partners,
.history {
  font-size: 35px;
  align-items: center;
 color: #000;
}
.research{
  font-size: 35px;
  align-items: center;
 color: #000;
}

.history,
.research {
  text-align: center;
  margin: 50px 0;
}

.history h1,
.research h1 {
  margin-bottom: 20px;
 

  font-size: 24px;
  font-weight: 500;
}

.history p,
.research p {
  font-size: 22px;
  margin-bottom: 20px;

}

.history-content p {
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
 
  padding: 10px;
  padding-bottom: 10px ;
  
}
.history-indent p {
  padding: 10px;
  font-size: 22px;
  text-indent: 1px;
}

.history-section,
.research-section {
  margin-top: 50px;
}

.research-content p {
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
 
  text-indent: 2rem;
}

.research-indent p {
  padding: 30px;
  font-size: 22px;
  text-indent: 1.5rem;
  padding-bottom: 50px;
}


.research-img video{
 
  object-fit: cover;
  width: 100%;
  height: auto;
}

.partners {
  align-items: center;
  text-align: center;
  padding: 20px;
}
.partners p {
  font-size: 22px;

  text-indent: 0rem;
}

.partnerslogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.partnerslogoDiv img {
  object-fit: contain;
  width: 40vw;
}

.research-image {
  /* display: block; */
  /* object-fit: contain;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  object-fit: contain;
  object-fit: contain;
  margin-bottom: 15px;
 
}

.research-landscape {
  height: 25vh;
  width: 34vw;

  /* padding: 0 0.1rem; */

/* @media (min-width: 768px) {
  .team-content {
  
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 2.5%;
  }

  .history p,
  .research p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .team-content {

    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 1.66%;
  }

  .hero-about-content h1 {
    font-size: 3rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }

  .history p,
  .research p {
    font-size: 1.2rem;
  }
}  */


.hero-about {
  text-align: center;
  margin-bottom: 30px;
}

.hero-about-img {
  position: relative;
}

.hero-about-img img {
  width: 100vw;
  object-fit: cover;
  height: 90vh;
  filter: brightness(75%);
}

.hero-about-content h1 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.9;
}

.about-content p {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  padding: 0 10px;
}

.teams {
  margin-top: 50px;
  object-fit: contain;
}

.teams h1 {
  margin-bottom: 30px;
}

.team-content {
  display: inline-block;
  width: 90%;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.team-content img {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}



.team-content h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.team-content p {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 1rem;
}

.btn-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-about {
  background-color: rgb(199, 240, 255);
  border: 1px;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  color: #000;
}

.teams,
.partners,
.history {
  font-size: 35px;
  align-items: center;
  color: #000;
}

.research {
  font-size: 35px;
  align-items: center;
  color: #000;
}

.history,
.research {
  text-align: center;
  margin: 50px 0;
}

.history h1,
.research h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.history p,
.research p {
  font-size: 22px;
  margin-bottom: 20px;
}

.history-content p {
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  padding-bottom: 10px;
}

.history-indent p {
  padding: 10px;
  font-size: 22px;
  text-indent: 1px;
}

.history-section,
.research-section {
  margin-top: 50px;
}

.research-content p {
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
  text-indent: 2rem;
}

.research-indent p {
  padding: 30px;
  font-size: 22px;
  text-indent: 1.5rem;
  padding-bottom: 50px;
}

.research-img video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.partners {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.partners p {
  font-size: 22px;
  text-indent: 0rem;
}

.partnerslogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.partnerslogoDiv img {
  object-fit: contain;
  width: 40vw;
}

.research-image {
  object-fit: contain;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  object-fit: contain;
  margin-bottom: 15px;
}

.research-landscape {
  height: 25vh;
  width: 34vw;
}

@media (min-width: 768px) {
  .team-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 2.5%;
    font-size: 3rem;
  }

  .team-content h1 {
    font-size: 2rem;
    text-align: center;
   align-items: center;
   justify-content: center;
  }
  
  .team-content p {
    font-size: 2rem;
   
  }

  .history p,
  .research p {
    font-size: 2rem;
  }

  .hero-about-content h1 {
    font-size: 7rem;
    width: 50%;
    position: absolute;
    bottom: 15%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    max-width: 400px;
    line-height: 1.9;
  }
  .team-content img {
    object-fit: contain;
    width: 100%;
   
    margin-bottom: 10px;
  }
  .history-content p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    padding: 10px;
    padding-bottom: 10px;
  }
  .research-content p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    text-indent: 2rem;
  }
  .research-image {
    object-fit: contain;
    width: 80vw;
    max-width: 100%;
    height: 80vh;
    margin: 0 auto;
   
  }
}

@media (min-width: 1024px) {
  .team-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 1.6%;
  }
 
  .team-content h1 {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
 
  }
  
  .team-content p {
    font-size: 2rem;
   
  }
  .hero-about-content h1 {
    font-size: 3rem;
    width: 500px;
    position: absolute;
    bottom: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    line-height: 1.9;
  }

  .about-content p {
    font-size: 2rem;
  }

  .history h1,
  .research h1 {
    font-size: 2.5rem;
  }

  .history p,
  .research p {
    font-size: 2rem;
  }
  .history-content p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    padding: 10px;
    padding-bottom: 10px;
  }

  .research-content p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    text-indent: 2rem;
  }
  .research-image {
    object-fit: contain;
    width: 200vw;
    max-width: 100%;
    height: 90vh;
    margin: 0 auto;
   
  }
  .button-about {
    background-color: rgb(199, 240, 255);
    border: 1px;
    width: 250px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
    color: #000;
  }
  
}
