/* About.css */

.hero-about {
  text-align: center;
  margin-bottom: 30px;
}

.hero-about-img {
  position: relative;
}

.hero-about-img img {
  width: 100vw;
  object-fit: cover;
  height: 90vh;
  filter: brightness(75%);
}

.hero-about-content h1 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.9;
}

.about-content p {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  padding: 0 10px;
}

.teams {
  margin-top: 50px;
  object-fit: contain;
}

.teams h1 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.team-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.team-content-item {
  width: 45%;
  margin: 2.5%;
}

.team-content-item img {
  object-fit: contain;
  width: 100%;
  height: 100vh;
  margin-bottom: 15px;
}

.team-content-item h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.team-content-item p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 1rem;
}

.btn-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-about {
  background-color: rgb(199, 240, 255);
  border: 1px;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #000;
}

.teams,
.partners,
.history,
.research {
  font-size: 2rem;
  align-items: center;
  color: #000;
}

.history,
.research {
  text-align: center;
  margin: 50px 0;
}

.history h1,
.research h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.history p,
.research p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.history-content p,
.research-content p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
}

.history-indent p,
.research-indent p {
  padding: 10px;
  font-size: 1.5rem;
  text-indent: 1.5rem;
  padding-bottom: 50px;
}

.research-img video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.partners {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.partners p {
  font-size: 1.5rem;
}

.partnerslogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.partnerslogoDiv img {
  object-fit: contain;
  width: 30vw;
}

.research-image {
  object-fit: contain;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.research-landscape {
  height: 25vh;
  width: 34vw;
}

@media (min-width: 768px) {
  .team-content-item {
    width: 45%;
    margin: 2.5%;
  }

  .team-content-item h1 {
    font-size: 2rem;
  }

  .team-content-item p {
    font-size: 1.5rem;
  }

  .hero-about-content h1 {
    font-size: 4rem;
    width: 50%;
  }

  .about-content p {
    font-size: 1.8rem;
  }

  .history h1,
  .research h1 {
    font-size: 2.5rem;
  }

  .history p,
  .research p {
    font-size: 1.8rem;
  }
  .partnerslogoDiv img {
    object-fit: contain;
    width: 20vw;
  }
  
  .research-image {
    object-fit: contain;
    width: 50vw;
    max-width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) {
  .team-content-item {
    width: 30%;
    margin: 1.66%;
  }

  .team-content-item h1 {
    font-size: 2.5rem;
  }

  .team-content-item p {
    font-size: 2rem;
  }

  .hero-about-content h1 {
    font-size: 5rem;
    max-width: 600px;
  }

  .about-content p {
    font-size: 3rem;
  }

  .history h1,
  .research h1 {
    font-size: 2.5rem;
  }

  .history p,
  .research p {
    font-size: 2rem;
  }

  .button-about {
    width: 230px;
    height: 130px;
    font-size: 2rem;
  }
  .partnerslogoDiv img {
    object-fit: contain;
    width: 20vw;
  }
  
  .research-image {
    object-fit: contain;
    width: 30vw;
    max-width: 80%;
    height: 90px;
   
  }
}
