/* Report.css */
.report-container {
  margin-top: 3rem;
  text-align: center;
  width: 100vw;
  
}

.report-title {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  /* line-height: 40px; */
}

.report-slide {
  position: relative;
  text-align: center;
}

.report-image {
  width: 80vw;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.vertical {
  height: 25vh;
  /* width: 45vw; */
  /* padding: 0 0.1rem; */
}

.carousel-text {
  text-align: left;
  margin-top: 10px;
  /* margin-bottom: 1.5rem; */
  font-size: 22px;
}

.report-button {
  border: 1px; /* Yellow outline */
  background-color: rgb(199, 240, 255);
  padding: 30px 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  color: #000;
  margin-bottom: 3rem;
}


@media (min-width: 768px) {
  .report-title {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 7rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }

  .report-button {
    font-size: 1.1rem;
    padding: 1.8rem 5rem;
    margin-bottom: 8rem;
  }
  .report-container .swiper {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
.report-container {
  /* margin-top: -6rem; */
}

  .report-title {
    font-size: 2rem;
    font-weight: 400;
/* margin-top: -14rem; */
    margin-bottom: 1rem;
    line-height: 2.4rem;
  }

  .carousel-text {
    font-size: 1.8rem;
  }

  .report-button {
    font-size: 1.1rem;
    padding: 1.5rem 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  /* .report-container .swiper {
    transform: scale(0.55);
  } */
.report-image{
  width: 50vw;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}
}
