/* Report.css */
.report-container {
  margin-top: 1rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.report-title {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  /* line-height: 40px; */
}

.report-slide {
  position: relative;
  text-align: center;
}

.report-image {
  width: 80vw;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.vertical {
  height: 25vh;
  /* width: 45vw; */
  /* padding: 0 0.1rem; */
}

.carousel-text {
  text-align: left;
  margin-top: 10px;
  /* margin-bottom: 1.5rem; */
  font-size: 22px;
}

.report-button {
  border: 1px; /* Yellow outline */
  background-color: rgb(199, 240, 255);
  padding: 30px 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  color: #000;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .report-title {
    font-size: 2rem;
  }

  .carousel-text {
    font-size: 1.5rem;
  }

  .report-button {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    padding: 15px 25px;
  }
}

@media (min-width: 1024px) {
  .report-title {
    font-size: 2.5rem;
  }

  .carousel-text {
    font-size: 1.8rem;
  }

  .report-button {
    width: 220px;
    height: 70px;
    font-size: 1.4rem;
    padding: 20px 30px;
  }
}
