/* Testimony.css */
.testimony-section {
  text-align: center;
  width: 100vw;
}

.testimony-title {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.2;
  font-weight: 500;
}

.testimony-content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.testimony-image {
  width: 90vw;
  height: auto;
  object-fit: contain;
}

.testimony-description {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
  line-height: 32px;
}

.testimony-button {
  border: none;
  padding: 40px 60px;
  color: black;
  background-color: rgb(199, 240, 255);
  border-radius: 50%; /* Adjusted to create an elliptical shape */
  cursor: pointer;
  font-size: 22px;
}

.desktop-testimony {
  display: none;
}

video.gl-lofter-vid {
  width: 90vw;
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Media Queries */
@media (min-width: 768px) {
  .testimony-title {
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }

  .testimony-description {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 7rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .testimony-button {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .testimony-title {
    display: none;
  }
  .desktop-testimony {
    display: flex;
    flex-direction: row;
    /* width: 90vw; */
    padding: 0 5rem;
    justify-content: center;
    gap: 3rem;
    /* margin-bottom: 12rem; */
    margin-top: 7rem;
  }

  .desktop-testimony2 {
    margin-top: 1rem;
  }

  .desktop-image-testimony img {
    width: 50vw;
  }

  .desktop-description-testimony {
    width: 45vw;
    line-height: 4rem;
    margin-top: 1rem;
    align-content: center;
    text-align: center;
    align-self: center;
  }

  .desktop-description-testimony h2 {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 200;
    text-align: center;
  }

  .testimony-title-desktop {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  .desktop-testimony h1 {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 700;
    text-align: center;
  }

  .desktop-description-cost h2 {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 200;
    text-align: center;
  }
  .desktop-testimony-button {
    border: none;
    margin-top: 2rem;
    padding: 40px 60px;
    color: black;
    background-color: rgb(199, 240, 255);
    border-radius: 50%; /* Adjusted to create an elliptical shape */
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 6rem;
  }

  .testimony-content {
    display: none;
  }

  video.gl-lofter-vid {
    width: 50vw;
  }
}
