/* Testimony.css */
.testimony-section {
  text-align: center;
  width: 100vw;
}

.testimony-title {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.2;
  font-weight: 500;
}

.testimony-content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.testimony-image {
  width: 90vw;
  height: auto;
  object-fit: contain;
}

.testimony-description {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
  line-height: 32px;
}

.testimony-button {
  border: none;
  padding: 40px 60px;
  color: black;
  background-color: rgb(199, 240, 255);
  border-radius: 50%; /* Adjusted to create an elliptical shape */
  cursor: pointer;
  font-size: 22px;
}

/* Media Queries */
@media (min-width: 768px) {
  .testimony-title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.5rem;
  }

  .testimony-description {
    font-size: 2rem;
    margin: 3rem;
    align-self: center;
    text-align: center;
    line-height: 3rem;
  }

  .testimony-button {
    
  }
}

@media (min-width: 1024px) {
  .testimony-title {
    font-size: 5rem;
    font-weight: 500;
  }

  .testimony-description {
    margin-top: 3rem;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 4rem;
  }

  .testimony-button {
    font-size: 2rem;
    padding: 3rem 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
