#rules-and-grants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  line-height: normal;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as necessary */
  padding: 10px;
}
.background-image {
  width: 90%;
  opacity: 0.6; /* Lower opacity for the background image */
}

#rules-and-grants h1 {
  font-size: 9vw;
  margin-bottom: 2rem;
  font-weight: lighter;
}

#rules-and-grants p {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Adjust text color as needed */
  width: 80vw;
}

.button-grant {
  margin-top: 2rem; /* Adjust margin to position the button */
  font-size: 22px;
}

.button-safety-grant {
  background-color: rgb(199, 240, 255);
  border: 1px;
  padding: 35px 55px;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.button-safety-grant > a {
  text-decoration: none;
  color: black;
}

.grant-h2 h2 {
  font-size: 22px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  line-height: 35px;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  #rules-and-grants h1 {
    font-size: 3rem;
  }

  #rules-and-grants p {
    font-size: 1rem;
  }

  .grant-h2 h2 {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 7rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
  }

  .button-safety-grant {
    font-size: 1.2rem;
    padding: 1.5rem 4rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  #rules-and-grants h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  #rules-and-grants p {
    font-size: 1.5rem;
  }
  .background-image {
    width: 90%;
    height: 70vh;
    opacity: 0.6; /* Lower opacity for the background image */
  }

}
