.footer {
  background-color: rgb(199, 240, 255);
  color: #0e0101b8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100vw;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
.footer-content {
  /* background-color: #f8ab07d6;  */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  /* padding: 1rem; */
  /* text-align: left; */
  /* width: 70%; Adjust this width to control how much you want to shift the text to the left */
  /* margin-left: -7%;  */
}

.footer-column {
  flex: 1;
  padding: 1rem;
  min-width: 200px;
}
.footer a {
  color: black;
  font-weight: 600;
}

.footer h1 {
  font-size: 22px;
  margin-bottom: 1rem;
}
.footer h2 {
  font-size: 22px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer h2 a {
  color: #0c0101c2;
  text-decoration: none;
}

.footer h2 a:hover {
  text-decoration: underline;
}

.footer h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 1.1rem 1rem;
}

.footer h3 a {
  color: #0c0101c2;
  text-decoration: none;
  font-weight: 400;
}

.footer h3 a:hover {
  text-decoration: underline;
}

.request-section {
  display: flex;
  font-weight: 600;

  width: 90vw;
}

.request-section h1 {
  margin-right: 25px; /* Adjust spacing as needed */
  padding-top: 5px;
  font-weight: 400;
  font-size: 22px;
}

.call-feat {
  display: flex;
  flex-direction: column;
}

.call-feat h3 {
  margin: 2px 0;
}

.call-feat ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.call-feat li {
  margin: 5px 0;
}

.logos-section {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(199, 240, 255);
  width: 100vw;
}
.logos-title {
  flex-direction: row;
  color: rgb(5, 4, 4);
}
.logos img {
  width: 130px;
  height: auto;
}

.logos h1 {
  font-size: 1.7rem;
  margin: 0;
}

.logos p {
  margin: 0;
  margin-top: -20px;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 4rem;
  color: rgb(10, 10, 10);
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.address {
  text-align: center;
}

@media (max-width: 768px) {
  .footer-column {
    flex: 1 1 100%;
  }
}
