#compare-costs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}



.costs-content h1 {
  padding: 2rem;
  padding-bottom: 10px;
  font-size: 2rem;

}
.costs-container {
  position: relative;
  width: 100%;
}
.costs-img{
  width: 100vw;
}

.costs-text h2{
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1.7rem;
  color: white;
  text-align: right;
  width: 90%;
  font-weight: 500;
  line-height: 30px;
}

/* #compare-costs h1 {
  margin-bottom: 1rem;
  color: #000;
} */

.costs-content {
  padding: 30px;
}


.button-costs {
  background-color: rgb(199, 240, 255);
  border: 1px ;
  width: 280px;
  height: 130px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 2.2rem;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .costs-content h1 {
    font-size: 3rem;
  }

  .costs-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .costs-content h1 {
    font-size: 4rem;
  }

  .costs-text {
    font-size: 1.8rem;
  }
}

 


